@font-face{
	font-family: ARCADECLASSIC;
	src: url("../fonts/ARCADECLASSIC.ttf");
}

.root {
	-fx-padding: 25;
	-fx-background-color: #FFCBCB;
	/* -fx-alignment: top-center; */
}

.VBox {
	-fx-background-color: #FFCBCB;
	-fx-alignment: center;
}

.button {
	-fx-font-size: 40;
	-fx-text-fill: #4E3440;
	-fx-border-color: #4E3440;
	-fx-background-color: black;
	-fx-font-family: ARCADECLASSIC;
	-fx-max-width: 400;
	-fx-max-height: 500;
}

.button:hover{
    -fx-background-color: #6C570D;
    -fx-text-fill: white;
    -fx-border-color: white;
	-fx-cursor: hand;
}

/* .button:active{
    transform: translateY(5px);
} */
/* color change when button pressed */
.button:pressed{
    -fx-background-color: #9E8F0D;
    /* -fx-text-fill: white; */
}

#Title{
	-fx-font-size: 100;
	-fx-font-family: ARCADECLASSIC;
	-fx-text-transfrom: uppercase;
    -fx-text-fill: #4E3440;
}

#PauseTitle{
	-fx-font-size: 50;
	-fx-font-family: ARCADECLASSIC;
	-fx-text-transfrom: uppercase;
    -fx-text-fill: #4E3440;
}

.Text{
	-fx-text-fill: #4E3440;
}